global.autoupg_log_dir={{ dir_cdb }}/autoupgrade
global.restoration=no

upg1.dbname={{ name_cdb }}
upg1.sid={{ name_cdb }}

upg1.source_home={{ dir_db_home }}
upg1.target_home={{ dir_target_db_home }}
upg1.target_version=19.31

